@model List<Project2WooxTravel.Models.Entities.Message>
@{
    ViewBag.Title = "Sendbox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Giden Mesaj Sayfası</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Alıcı</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Mesajı Aç</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.ReceiverMail</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td>@item.IsRead</td>
                                        <td>
                                            <a href="/Admin/Destination/DeleteDestination/@item.MessageID" class="btn btn-danger btn-sm">
                                                <i class="fas fa-envelope-open-text"></i>
                                                Mesajı Aç
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



